html, body {
  margin: 0;
  height: 100%
}

.bar {
  fill: #3E50B4;
  margin-left: 4px;
  margin-right: 4px;
}

.bar:hover {
  fill: red
}

.text {
  font-size: 8px;
  fill: white;
  font-family: sans-serif;
}

.fur {
  fill: darkgray
}

.eye {
  fill: green
}

.ear {
  fill: pink
}

.nose {
  fill: pink
}